<footer class="bg-primary text-center text-lg-start text-light" id="Contacts">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Проблемы с сайтом</h5>
        <p>По любым вопросам обращаться по сайту:</p>
        <a href="tel:+79281526298" class="text-light">+7-928-152-62-98</a>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Сделать заказ</h5>
        <a href="tel:+79281526298" class="text-light">+7-928-152-62-98</a>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-opacity-100" style="background-color: rgb(26, 95, 214);">
    © 2024 Copyright:
    <a class="text-light" href="#">Принадлежит Кириченко Р.О.</a>
  </div>
</footer>