{% extends 'base/base.html' %}

{% block main %}
  <header class="mb-5" id="Main" style="background-image: url(https://img.freepik.com/free-vector/factory-concept-illustration_114360-5260.jpg); background-repeat: no-repeat;  background-size: cover; background-position: center;">
    <div class="row vh-100 bg-dark bg-opacity-25 text-light">
      <div class="my-auto col-md-6 offset-md-2">
        <h1 class="h1">«СЗММ»</h1>
        <p class="fs-5">Работаем с 2000 года. Помогаем развить сельское хозяйство в Сальске и ближайших районах.</p>
        <p><a class="btn btn-lg btn-primary" href="#ProductСatalogue">Каталог товаров</a></p>
      </div>
    </div>
  </header>

  <div class="container" id="ProductСatalogue">
    <div class="row">
      {% for data_item in data %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="{{ data_item.link }}" class="d-flex justify-content-between align-items-center">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{{ data_item.image_link.url }}" data-holder-rendered="true" style="height: 250px; width: 100%; display: block;" />
            </a>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="fs-5 fw-bold mx-auto">{{ data_item.name }}</p>
              </div>
              <a href="{{ data_item.link }}" class="d-flex justify-content-between align-items-center text-decoration text-decoration-none">
                <div class="btn btn-sm btn-outline-secondary mx-auto">Перейти в каталог</div>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock main %}
